@import "/front-core/css/fonts.css";
*{
    padding:0;
    margin:0;
}
main{
    display:flex;
    min-height: 100vh;
}
aside,
section{
    display:flex;
}
main>aside{
    width: 20vw;
    height:100vh;
    background-color: #fff;
    color:#222222;
    justify-content: flex-end;
    position: fixed;
}
main>aside nav{
    padding-top: 5vh;
    padding-right: 4.5vw;
}
main>aside nav header{
    margin: 2em 0;
    text-transform: uppercase;
    font-family: HelveticaNeueBold;
    font-size: 1.1em;
}
main>aside ul{
    list-style-type: none;
}
main>aside ul li{
    padding: 0.7em 0;
    font-family: HelveticaNeueRoman;
    font-size: 1em;
}
main>aside ul li a{
    text-decoration: none;
    color:#222222;
}
main>aside ul li.active a{
    color:#69859d;
}
main>aside ul li:hover a,
main>aside ul li:hover{
    cursor:pointer;
    color:#69859d;
}
main>section{
    width: 80em;
    background-color: #edf1f6;
    padding: 4.4em 0 3em 1em;
    flex-direction: column;
    margin-left: 20vw;
    min-height: 100vh;
    align-items: center;
    box-sizing: border-box;
}
main>section article{
    padding: 2em;
    background-color: #fff;
}
main>section article h2{
    font-family: HelveticaNeueRoman;
    font-size: 1.3em;
    margin-bottom: 1em;
}
main>section article h2 a{
    text-decoration:none;
    color:#222222;
}
main>section article h2:hover a{
    text-decoration:underline;
}
main>section article p{
    font-family: Roboto;
    font-size: 0.9em;
    margin-bottom: 2em;
    letter-spacing:-0.8px;
}
main>section article p>label{
    font-family: HelveticaNeueRoman;
    font-size: 1.1em;
    letter-spacing:0.04em;
}
main>section article footer li{
    list-style-type: none;
    font-family: HelveticaNeueItalic;
    font-size: 0.8em;
    letter-spacing:0.01em;
    margin-bottom:5px;
}
main>section article footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.spliter{
    width: 100%;
    height:1px;
    background-color: #ccc;
    padding: 0;
    margin: 0.5em 0;
}
.news-item{
    width: 80%;
    max-width: 900px;
    margin-bottom: 1em;
    position:relative
}
.account{
    width: 45%;
}
.events-container{
    max-width: 900px;
    min-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-item>header{
    max-height: 200px;
    overflow: hidden;
}
.news-item>header img{
    width: 100%;
    margin-top: -8%;
}
.main-button:hover{
    cursor:pointer;
    background-color:#7a95ab;
    color:#fff;
    transition: all .3s ease-in-out;
}
.main-button{
    padding:1em 1.5em;
    font-size: 0.9em;
    border:2px solid #7a95ab;
    color: #7a95ab;
    background-color: transparent;
    text-transform: uppercase;
    font-family: HelveticaNeueRoman;
    letter-spacing: 0.04em;
    user-select: none;
    transition: all .3s ease-in-out;
    text-decoration: none;
}


.form-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}
.form-overlay.show{
    display:block;
}
.form-container{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 22vw;
    height: 60vh;
    background-color: #f4f4f4;
}
#signIn .form-container{height: 43vh;}
.form-container form span{
    text-align: center;
    text-decoration: underline;
    font-family: HelveticaNeueRoman;
    font-size:0.9em;
    margin:1em 0;
}
.form-container form span:hover{
    cursor:pointer;
    text-decoration: none;
}
.form-container header{
    display: flex;
    justify-content: center;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-family: HelveticaNeueRoman;
    margin: 2em 0 1.5em;
}

.form-container form{
    display: flex;
    flex-direction: column;
    padding: 0em 2em 4em 2em;
}
.form-container form input[type="text"]::-webkit-input-placeholder,
.form-container form input[type="email"]::-webkit-input-placeholder,
.form-container form input[type="password"]::-webkit-input-placeholder{
    color: #9b9b9b;
    font-family: HelveticaNeueLight;
}
.form-container form input[type="text"]::-moz-placeholder,
.form-container form input[type="email"]::-moz-placeholder,
.form-container form input[type="password"]::-moz-placeholder{
    color: #9b9b9b;
    font-family: HelveticaNeueLight;
}


.form-container article input,
.form-container article select{
    line-height: 2em;
    color: #9b9b9b;
    height: 2.7em;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1em;
    padding-left: 15px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    outline: none;
    letter-spacing: 0.04em;
}
form input[type="submit"]:hover{
    cursor:pointer;
}
.sign-in-block form option{
    color:#3a87e3;
    background:#fff;
}
.sign-in-block form textarea{
    height:90px;
}
.sign-in-block form textarea::-webkit-input-placeholder {
    color: #fff;
}

.close-icon {
    position: absolute;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8em;
    height: 0.8em;
    top: 12px;
    right: 10px;
}
.close-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-icon::before,
.close-icon::after {
    content: '';
    position: absolute;
    height: 2px;
    margin-top: -6px;
    border-radius: 5px;
    width: 100%;
    top: 50%;
    left: 0;
    background: #252525;
}
.close-icon:hover::before,
.close-icon:hover::after{
    background: #3a87e3;
    cursor:pointer;
}
.picture-section{
    -webkit-box-shadow: -2px 0px 8px 3px rgba(0,0,0,0.45);
    -moz-box-shadow: -2px 0px 8px 3px rgba(0,0,0,0.45);
    box-shadow: -2px 0px 8px 3px rgba(0,0,0,0.45);
}
.picture-section img{
    width:100%;
    display: block;
}
.page-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 980px;
    background-color: #fff;
    position:relative;
    min-height: 81vh;
    width: 80%;
}
.props-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3% 0;
    border-bottom: 3px solid #edf1f6;
}
.props-item:last-child{
    border:0;
}
.props-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 2em 0;
}
.props-content h2{
    /* margin:7% 0; */
    font-family: Arial;
    font-size:28px;
    line-height:42px;
    font-weight: 100;
}
.props-item .picture-block{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.props-content header{
    position: relative;
    padding: 8px 20px;
    color: #333;
    font-family: arial;
    font-size: 15px;
    font-weight: 600;
}
.props-content header i{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #232323;
}
.picture-block h2{
    margin: 1.5em 0 0;
    text-align:center;
    font-family: HelveticaNeueLight;
}
.props-content header i img{
    width:16px;
    height:16px;
    transform: rotate(90deg);
    position: absolute;
    top: 4px;
    right: 8px;
    transition: all .5s ease-in-out;
}
.picture-block figure{
    transition: width .5s ease-in-out;
    width: 164px;
    height: 164px;
    border: 2px solid rgba(58, 135, 227, 0.5);
    border-radius: 100px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.35);
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
}
.picture-block figure img{
    width:100%;
}
.props-item-line article{
    max-height: 0;
    transition: all .5s ease-in-out;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 0;
}
.props-item-line article p{
    font-family: Arial;
    margin: 10px 5% 10px 10%;
    position: relative;
}
.props-item-line article p:after{
    content: '';
    position: absolute;
    width: 85%;
    bottom: -7px;
    left:0;
    height:1px;
    background-color: #999;
}
.props-item-line article p:last-child:after{
    content: '';
    position: absolute;
    width:50%;
    bottom:0;
    left:0;
    height:0px;
    background-color: #3a87e3;

}
.props-item-line header:hover{
    cursor:pointer;
}
.props-item-line.active article{
    max-height: 320px;
    transition: all .5s ease-in-out;
}
.props-item-line.active header i img{
    transition: all .5s ease-in-out;
    transform: rotate(-90deg);
}
.page-container iframe{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    box-sizing: border-box;
}
.section-title{
    display:flex;
    justify-content:space-around;
    padding: 1.5em 0;
    font-family: HelveticaNeueRoman;
    font-size:0.8em;
}
.success-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}
.success-overlay.show{
    display: block;
}
.success-form{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 25vw;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.6em;
    border: 1px solid #7a95ab;
    background-color: #fff;
}
.success-form span{
    color: #69859d;
    width: 100%;
    text-align: center;
    font-family: HelveticaNeueRoman;
}
.admin-content{
    width:80vw;
    max-width: 1000px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding:3em 2em;
    border-radius: 5px;
}
.add-event{
    width:20%;
}
.add-form{
    width:100%;
}
.add-button{
    margin-top: 1em !important;
}
.control-buttons{
    display: flex;
    font-size: 14px;
}
.buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}