@import "/front-core/css/fonts.css";
*{
    padding:0;
    margin:0;
}
main{
    display:flex;
}
aside,
section{
    display:flex;
}
main>aside{
    width: 20vw;
    height:100vh;
    background-color: #fff;
    color:#222222;
    justify-content: flex-end;
    position: fixed;
}
main>aside nav{
    padding-top: 5vh;
    padding-right: 4.5vw;
}
main>aside nav header{
    margin: 2em 0;
    text-transform: uppercase;
    font-family: HelveticaNeueBold;
    font-size: 1.1em;
}
main>aside ul{
    list-style-type: none;
}
main>aside ul li{
    padding: 0.7em 0;
    font-family: HelveticaNeueRoman;
    font-size: 1em;
}
main>aside ul li a{
    text-decoration: none;
    color:#222222;
}
main>aside ul li.active a{
    color:#69859d;
}
main>aside ul li:hover a,
main>aside ul li:hover{
    cursor:pointer;
    color:#69859d;
}
main>section{
    width: calc(80vw - 1em);
    background-color: #edf1f6;
    padding: 3em 0 3em 1em;
    flex-direction: column;
    margin-left: 20vw;
    min-height: calc(100Vh - 6em);
}
main>section article{
    padding: 2em;
    background-color: #fff;
}
main>section article h2{
    font-family: HelveticaNeueRoman;
    font-size: 1.3em;
    margin-bottom: 1em;
}
main>section article p{
    font-family: Sitka;
    font-size: 0.9em;
    margin-bottom: 2em;
}
main>section article footer li{
    list-style-type: none;
    font-family: HelveticaNeueItalic;
    font-size: 0.8em;
    letter-spacing:0.04em;
    margin-bottom:5px;
}
main>section article footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.spliter{
    width: 100%;
    height:1px;
    background-color: #ccc;
    padding: 0;
    margin: 0.5em 0;
}
.news-item{
    height: 50%;
    width: 80%;
    max-width: 900px;
    margin-bottom: 1em;
}
.news-item>header{
    max-height: 200px;
    overflow: hidden;
}
.news-item>header img{
    width: 100%;
    margin-top: -8%;
}
.sign-up-event{
    padding:1em 1.5em;
    font-size: 0.9em;
    border:2px solid #7a95ab;
    color: #7a95ab;
    background-color: transparent;
    text-transform: uppercase;
    font-family: HelveticaNeueRoman;
    letter-spacing: 0.04em;
    user-select: none;
    transition: all .3s ease-in-out;
}
.sign-up-event:hover{
    cursor:pointer;
    background-color:#7a95ab;
    color:#fff;
    transition: all .3s ease-in-out;
}


.form-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
}
.form-overlay.show{
    display:block;
}
.form-container{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 21vw;
    height: 60vh;
    background-color: #f4f4f4;
}
.form-container header{
    display: flex;
    justify-content: center;
    color: #222222;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-family: HelveticaNeueRoman;
    margin: 2em 0 1.5em;
}

.form-container form{
    display: flex;
    flex-direction: column;
    padding: 0em 2.5em 4em 2.5em;
}
.form-container form input[type="text"]::-webkit-input-placeholder,
.form-container form input[type="email"]::-webkit-input-placeholder,
.form-container form input[type="password"]::-webkit-input-placeholder{
    color: #9b9b9b;
    font-family: HelveticaNeueLight;
}
.form-container form input[type="text"]::-moz-placeholder,
.form-container form input[type="email"]::-moz-placeholder,
.form-container form input[type="password"]::-moz-placeholder{
    color: #9b9b9b;
    font-family: HelveticaNeueLight;
}


.form-container article input,
.form-container article select{
    line-height: 2em;
    color: #9b9b9b;
    height: 2.4em;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1em;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    outline: none;
}
.admin-modal-block  form input[type="submit"]{
    background-color: #3a87e3;
    color:#fff;
}
.sign-in-block form select{
    height:2em;
}
form input[type="submit"]:hover{
    cursor:pointer;
}
.sign-in-block form option{
    color:#3a87e3;
    background:#fff;
}
.sign-in-block form textarea{
    height:90px;
}
.sign-in-block form textarea::-webkit-input-placeholder {
    color: #fff;
}

.close-icon {
    position: absolute;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.9em;
    height: 0.9em;
    top: 12px;
    right: 10px;
}
.close-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-icon::before,
.close-icon::after {
    content: '';
    position: absolute;
    height: 2px;
    margin-top: -6px;
    border-radius: 5px;
    width: 100%;
    top: 50%;
    left: 0;
    background: #252525;
}
.close-icon:hover::before,
.close-icon:hover::after{
    background: #3a87e3;
    cursor:pointer;
}
.picture-section{
    -webkit-box-shadow: -2px 0px 8px 3px rgba(0,0,0,0.45);
    -moz-box-shadow: -2px 0px 8px 3px rgba(0,0,0,0.45);
    box-shadow: -2px 0px 8px 3px rgba(0,0,0,0.45);
}
.picture-section img{
    width:100%;
    display: block;
}
.page-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 900px;
    background-color: #fff;
    position:relative;
    min-height: 81vh;
}
.props-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3%;
}
.props-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    vertical-align: top;
}
.props-content h2{
    margin:7% 0;
    font-family: Arial;
    font-size:28px;
    line-height:42px;
    font-weight: 100;
}
.props-item .picture-block{
    width:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.props-content header{
    position: relative;
    background-color: rgba(58, 135, 227, 0.75);
    padding: 8px 20px;
    color: #fff;
    font-family: arial;
    font-size: 14px;
}
.picture-block h2{
    margin:1.5em 0;
    text-align:center;
}
.props-content header i img{
    width:16px;
    height:16px;
    transform: rotate(90deg);
    position: absolute;
    top: 4px;
    right: 8px;
    transition: all .5s ease-in-out;
}
.picture-block:hover figure{
    transform: scale(1.1);
    transition: width .5s ease-in-out;
    cursor:pointer;
}
.picture-block figure{
    transition: width .5s ease-in-out;
    width: 164px;
    height: 164px;
    border: 2px solid rgba(58, 135, 227, 0.5);
    border-radius: 100px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.35);
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
}
.picture-block figure img{
    width:100%;
}
.page-container iframe{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    box-sizing: border-box;
}
.section-title{
    display:flex;
    justify-content:space-around;
    padding: 1.5em 0;
    font-family: HelveticaNeueRoman;
    font-size:0.8em;
}